/*#region -------------------- GENERAL -------------------*/

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*Couleurs*/
    --color1: #638DA6;
    --color2: #5B83A6;
    --color3: #4B95D1;
    --color4: #021010;
    --color5: #D9DBDB;
    --color6: #D19D4A;
    --color7: #D5BF9C;

    /*fonts*/
    --font1:'Ubuntu', sans-serif;
    --font2:'Oswald', Arial, sans-serif;

    scroll-behavior: smooth;
    /* ne fonctionne pas sur Safari */
}

body{
    font-family: var(--font2);
    font-size: 15px;
}

/*#region balise titre*/
h1{
    font-family: var(--font1);
    color: var(--color1);
}

h2 {
    color: var(--color2);
    font-size: 48px;
}

h3 {
    font-size: 30px;
    color: var(--color2);
}
/*#endregion*/

/*#region balise*/
p {
    font-size: 18px;
    line-height: 20px;
    color: var(--color4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color3);
    text-transform: uppercase;
}
/*#endregion*/

.container-grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

.wrapper {
    display: block;
    height: 700px;
    margin: 0 auto;
}

.orange {
    color: var(--color6);
}

.clear{
    clear: both;
}

small{
    font-size: 13px;
    font-style: italic;
}

/*#region--------------------Button--------------------*/
/* btn contactez-moi */
.button-1 {
    display: block;
    color: var(--color4);
    font-size: 1.1rem;
    font-weight: 300;
    margin: 81px auto;
    padding-top: 2px;
    line-height: initial;
    text-overflow: clip;
    text-align: center;
    white-space: nowrap;
}
.button-1::after{
    content: "";
    display: block;
    width: 100px;
    height: 30px;
    background-color: var(--color6);
    margin: -29px auto;
    border-radius: 0 0 72px 0;
    transition: .4s;
}
.button-1:hover {
    /* display: block; */
    transform: scale(1.1);
    cursor: pointer;
    z-index: 10;
}
.button-1:hover::after {
    /* display: block; */
    /* transform: scale(1.1); */
    background-color: var(--color7);
    /* cursor: pointer; */
    z-index: 9;
}
/* btn envoye */
.btn{
    border: 0;
    background: var(--color6);
    font-family: var(--font2);
    font-size: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 0px 0px 20px 0px;
    float: right;
    cursor: pointer;
    transition: all .3s ease-out;
}
.btn:hover{
    background-color: var(--color7);
}

.btn.btn-secondary{
    background: transparent;
    border: 2px solid var(--color6);
    color: var(--color4);
}
/*#endregion*/

/*#endregion*/

/*#region -------------------- HEADER --------------------*/

header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    color: var(--color3);
    padding: 1rem 2rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

#bg-header{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -120px;
    left: 0;
    background: var(--color4);
    z-index: -10;
    transition: all 0.5s ease-in-out;
}

/*-------------------- NAV --------------------*/

nav{
    position: relative;
    width: 25%;
    height:100%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin: 16px 0 0 0;
    text-align: center;
    transition: all 1s ease-out;

    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

/*#region nouveau menu*/
.nav-item{
    color: var(--color3);
    font-family: var(--font2);
    padding: 20px auto;
    margin: 0 6px;
    position: relative;
    flex: 1;
}
.nav-item::before{
    content: "";
    position: absolute;
    bottom: -12px;
    background-color: var(--color7);
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}
.nav-item:not(.is-active):hover::before{
    bottom: -6px;
}
.nav-item:not(.is-active):hover{
    color: var(--color1);
}
.nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}

nav a:hover{
    color: var(--color3);
    font-family: var(--font2);
    font-weight: 300;
    /* text-align: center; */
}

/*#endregion*/

/*-------------------- Logo --------------------*/
.logo{
    position: relative;
    top:-8px;
    font-size: 1.5rem;
    width:100%;
    transition: all 1s ease-out;
}

.toggle{
    display: none;
    color: var(--color6);
}
/*#endregion */

/*#region -------------------- MAIN ----------------------*/

/*#region section acceuil*/
#home{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background: url('img/BackgroundAccueil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
}
#home h2{
    position: relative;
    top: 61px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    /* color: var(--color4); */
    padding: 40px 0 0 0;
    margin: 0px;
    /* border: 1px red solid; */
}
#anim-logo{
    /*simulation logo*/
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    top:100px;
    margin: 0px auto;
    background-color:blue;
    
    z-index:1;
    /* border: 1px red solid; */
}
/*#endregion*/

/*#region section à propos */
#about{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 700px;
    float: left;
    justify-items: center;
    margin: auto auto;
    padding: 200px 140px;
}
h4{

    font-size: 24px;
    color: var(--color2);

    text-transform: uppercase;
    /* color: transparent; */
    /* font-size: 0px; */
}
h4 span{
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(34px, 8vw, 18px);
}
h4 span::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transform: translateX(-10%);
}
h4:nth-child(1){
    /* font-weight: 300; */
    animation: txt-appearance 0s 1s forwards;
}
h4:nth-child(2){
    animation: txt-appearance 0s 1.25s forwards;
}
h4:nth-child(1) span::after{
    background: salmon;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
h4:nth-child(2) span::after{
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}
@keyframes slide-in{
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide-out{
    100%{
        transform: translateX(100%);
    }
}
@keyframes txt-apperance{
    100%{
        color: var(--color4);
    }
}

/* backgrounds */
#bg-title {
    width: 410px;
    height: 45px;
    position: relative;
    left: -150px;
    top: 195px;
    background-color: var(--color4);
    border-radius: 0 0 122px 0;
    z-index: -100;
}
.background-mokup {
    object-fit: contain;
    width:50%;
    height: 100vh;
    /*transform:translateX(0px);*/
    position: relative;
    top:-46px;
    background: url('img/BackgroundApropos.jpg') no-repeat top center;
    background-size: 150%;
    background-position-x: -50px;
    display: flex;
    z-index: -100;
    transition: all 1s ease-in-out;
}
/*#endregion*/

/*#region section portfolio */
#portfolio{
    position: relative;
    left: 0;
    height: 100vh;
    background: var(--color5);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: -100;
}
/*#endregion*/

/*#endregion*/

/*#region -------------------- FORMULAIRE ----------------*/

.close-form{
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--color4);
    background-color: var(--color6);
    padding: 2px 5px;
    border-radius: 18px;
    transition: all .4s ease-out;
}
.close-form:hover{
    /* color:var(--color2); */
    background-color: var(--color7);
}

.contact{
    position: fixed;    
    top: 50%;
    left: -100%;
    width: max-content;
    height: max-content;
    visibility: hidden;
    
    transition: all 1s ease-out;
}
.contact:target{
    left: 0%;
    visibility: visible;
}

.formulaire{
    position: fixed;    
    top: 50%;
    left: 50%;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
    margin: auto auto;
    padding: 21px;
    display: flex;
    align-content: center;
    background-color: var(--color5);
    border-radius: 3px;
    box-shadow: 0px 10px 40px var(--color4);
    z-index: 100;
}
form p{
    color: var(--color1);
    /* flex-direction: row; */
}
#information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#information p{
    white-space: pre;
}
.block{
    display: inline-flex;
    margin: 5px 0;
}
.champ-nom, .champ-mail, #champ-tel{
    border-radius: 3px;
    border: none;
    margin: 3px;
    display: block;
    height: 21px;
}
.obligatoire{
    width: 0;
}
.obligatoire::after{
    content: "Champ obligatoire";
    position:relative;
    top: -18px;
    right: 60px;
    width: 0;
    white-space: nowrap;
    font-size: 8px;
    color: var(--color4);
    /* display: block; */
}
#text-client{
    border-radius: 3px;
    border: none;
    margin: 9px;
    display: block;
    height: 76px;
}

#demande{
    display: flex;
    flex-direction: column;
}
/*#region checkbox*/
#check-list{
    display: flex;
    justify-content: center;
}

input[type=text], input[type=mail],input[type=tel], input::placeholder, textarea::placeholder{
    font-family: var(--font2);
    font-size: 11px;
    color: var(--color7);
    padding-left: 8px;
}
input[type=checkbox]{
    display: none;
}

.checkbox{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    margin: 9px;
    padding: 3px 18px;
    border-radius: 18px;

    text-align: center;
    white-space: nowrap;

    overflow: hidden;
    transition: all 1s ease;
}
.checkbox label::before{
    background-color: var(--color6);
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border-radius: 18px;
    z-index: -1;
    /* overflow: hidden; */

}
.checkbox label::after{
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    /* top: 50%;
    left: 50%; */
    border-radius: 18px;
    background-color: var(--color2);
    z-index: -1;
    transform: translateX(-6rem);
    transition: all .4s ease-out;
}

.check-list input:checked + label::after{
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border-radius: 18px;
    background-color: var(--color2);

    transform: translateX(0rem);
}
.checkbox:checked::before{
    content: "&";
    background-color: var(--color6);
    display: block;
    width: max-content;
    height: 50px;
}

/* .checkbox-input{
    opacity: 0;
    width: 0;
    height: 0;
} */

/*#endregion*/

/*#endregion*/

/*#region ------------------- OVERLAY --------------------*/
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color4);
    opacity: 0.7;
    z-index: 90;

    transition: opacity .4s ease-out;
}

/*#endregion*/

/*#region ------------------- RESPONSIVE TABLETTE --------*/
@media all and (max-width: 991px) {

    header{
        background: transparent;
    }

    .toggle{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        /* margin: auto; */
        z-index: 20;
    }

    .logo{
        font-size: 1rem;
        position: relative;
        margin: auto;
        z-index: 20;
    }

    .ouvrir{
        display: block;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer{
        display: block;
    }

    nav{
        position: sticky;
        top: 0;
        right: 0;
        width: 30%;
        height: 100vh;
        background: var(--color4);
        flex-direction: column;
        margin: 0;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    nav li a{
        font-size: 2rem;
    }
    
    .btn{
        font-size: 2rem;
    }

    .open nav{
        transform: translateX(0);
    }

    /*-------------------- Barre animation --------------------*/
    nav .nav-indicator{
        display: none;
    }

    .nav-indicator{
        display: none;
    }
}
/*#endregion*/