/*#region -------------------- GENERAL --------------------*/

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*Couleurs*/
    --color1: #638DA6;
    --color2: #5B83A6;
    --color3: #4B95D1;
    --color4: #021010;
    --color5: #D9DBDB;
    --color6: #D19D4A;
    --color7: #D5BF9C;

    /*fonts*/
    --font1:'Ubuntu', sans-serif;
    --font2:'Oswald', Arial, sans-serif;
}

body{
    font-family: var(--font2);
    font-size: 15px;
}

h1{
    font-family: var(--font1);
    color: var(--color1);
}

h2 {
    color: var(--color2);
    font-size: 48px;
}

h3 {
    font-size: 30px;
    color: var(--color2);
}

h4 {
    font-size: 24px;
    color: var(--color2);
}

p {
    font-size: 18px;
    line-height: 20px;
    color: var(--color4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color3);
    text-transform: uppercase;
}

.container-grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

.wrapper {
    display: block;
    height: 700px;
    margin: 0 auto;
}

.orange {
    color: var(--color6);
}

.clear{
    clear: both;
}

small{
    font-size: 13px;
    font-style: italic;
}
/*-------------------- Button --------------------*/
.button-1 {
    display: block;
    color: var(--color4);
    font-size: 1.1rem;
    font-weight: 300;
    margin: 29px auto;
    padding-top: 2px;
    line-height: initial;
    text-overflow: clip;
    text-align: center;
    white-space: nowrap;
}
.button-1::after{
    content: "";
    display: block;
    width: 100px;
    height: 30px;
    background-color: var(--color6);
    margin: -29px auto;
    border-radius: 0 0 72px 0;
    transition: .4s;
}
.button-1:hover {
    /* display: block; */
    transform: scale(1.1);
    cursor: pointer;
    z-index: 10;
}
.button-1:hover::after {
    /* display: block; */
    /* transform: scale(1.1); */
    background-color: var(--color7);
    /* cursor: pointer; */
    z-index: 9;
}

.btn{
    border: 0;
    background: var(--color6);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
}

.btn.btn-secondary{
    background: transparent;
    border: 2px solid var(--color6);
    color: var(--color4);
}
.clear{
    clear: both;
}
/*#endregion*/

/*#region -------------------- HEADER --------------------*/

header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    color: var(--color3);
    padding: 1rem 2rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

#bg-header{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -120px;
    left: 0;
    background: var(--color4);
    z-index: -10;
    transition: all 0.5s ease-in-out;
}

/*-------------------- NAV --------------------*/

nav{
    position: relative;
    width: 25%;
    height:100%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    margin: 16px 0 0 0;
    text-align: center;
    transition: all 1s ease-out;

    background-color: rgba(255, 255, 255, 0);
    overflow: hidden;
}

/*#region nouveau menu*/
.nav-item{
    color: var(--color3);
    font-family: var(--font2);
    padding: 20px auto;
    margin: 0 6px;
    position: relative;
}
.nav-item::before{
    content: "";
    position: absolute;
    bottom: -12px;
    background-color: var(--color7);
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}
.nav-item:not(.is-active):hover::before{
    bottom: -6px;
}
.nav-item:not(.is-active):hover{
    color: var(--color1);
}
.nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}

/*#endregion*/

nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    line-height: 75px;
    list-style: none;
    width: 300px;
}
nav li a{
    text-transform: uppercase;
    line-height: 50px;
    position: relative;
    /* z-index: 1; */
    display: inline-block;
    /* text-align: center; */
    color: var(--color1);
    transition: all 0.2s ease-in-out;
}
nav a:hover{
    color: var(--color3);
    font-family: var(--font2);
    font-weight: 300;
    /* text-align: center; */
}


/*-------------------- Logo --------------------*/
.logo{
    position: relative;
    top:0;
    font-size: 1.5rem;
    width:100%;
    transition: all 1s ease-out;
}

.toggle{
    display: none;
    color: var(--color6);
}
/*#endregion */

/*#region -------------------- MAIN --------------------*/

/*section acceuil*/
#home{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    background: url('img/BackgroundAccueil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
}
#home h2{
    position: relative;
    top: 61px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    /* color: var(--color4); */
    padding: 40px 0;
    margin: 0px;
    /* border: 1px red solid; */
}
#anim-logo{
    /*simulation logo*/
    position: relative;
    height: 400px;
    width: 400px;
    display: flex;
    top:100px;
    margin: 0px auto;
    background-color:blue;
    
    z-index:1;
    /* border: 1px red solid; */
}

/*#region section à propos */
#about{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#presentation {
    width: 50%;
    height: 700px;
    float: left;
    justify-items: center;
    margin: auto auto;
    padding: 200px 140px;
}
p{
    color: transparent;
    font-size: 0px;
}
p span{
    display: inline-block;
    position: relative;
    overflow: hidden;
    font-size: clamp(15px, 8vw, 18px);
}
p span::after{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
    transform: translateX(-10%);
}
p:nth-child(1){
    font-weight: 300;
    animation: txt-appearance 0s 1s forwards;
}
p:nth-child(2){
    animation: txt-appearance 0s 1.25s forwards;
}
p:nth-child(1) span::after{
    background: salmon;
    animation: slide-in 0.75s ease-out forwards,
    slide-out 0.75s 1s ease-out forwards;
}
p:nth-child(2) span::after{
    background: royalblue;
    animation: slide-in 0.75s 0.3s ease-out forwards,
    slide-out 0.75s 1.3s ease-out forwards;
}
@keyframes slide-in{
    100%{
        transform: translateX(0%);
    }
}
@keyframes slide-out{
    100%{
        transform: translateX(100%);
    }
}
@keyframes txt-apperance{
    100%{
        color: var(--color4);
    }
}

/* backgrounds */
#bg-title {
    width: 410px;
    height: 45px;
    position: relative;
    left: -150px;
    top: 195px;
    background-color: var(--color4);
    border-radius: 0 0 122px 0;
    z-index: -100;
}
.background-mokup {
    object-fit: contain;
    width:50%;
    height: 100vh;
    /*transform:translateX(0px);*/
    position: relative;
    top:-46px;
    background: url('img/BackgroundApropos.jpg') no-repeat top center;
    background-size: 150%;
    background-position-x: -50px;
    display: flex;
    z-index: -100;
    transition: all 1s ease-in-out;
}
/*#endregion*/

/* section portfolio */
#portfolio{
    position: relative;
    left: 0;
    height: 100vh;
    background: url('img/BackgroundAccueil.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    z-index: -100;
}
/*#endregion*/

/*#region -------------------- FORMULAIRE --------------------*/
.formulaire{
    position: absolute;
    top: 50px;
    left: 300px;
    width: 1164px;
    height: 654px;
    align-content: center;
    background-color: var(--color6);
    z-index: 100;
}
/*#endregion*/

/*#region -------------------- RESPONSIVE TABLETTE --------------------*/
@media all and (max-width: 991px) {

    header{
        background: transparent;
    }

    .toggle{
        display: block;
        font-size: 2rem;
        cursor: pointer;
        position: relative;
        margin: auto;
        z-index: 20;
    }

    .logo{
        font-size: 1rem;
        position: relative;
        margin: auto;
        z-index: 20;
    }

    .ouvrir{
        display: block;
    }

    .fermer{
        display: none;
    }

    .open .ouvrir{
        display: none;
    }

    .open .fermer{
        display: block;
    }

    nav{
        position: absolute;
        top: 0;
        right: 0;
        width: 30%;
        height: 100vh;
        background: var(--color4);
        flex-direction: column;
        margin: 0;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 1s ease-in-out;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    nav li a{
        font-size: 2rem;
    }
    
    .btn{
        font-size: 2rem;
    }

    .open nav{
        transform: translateX(0);
    }
    /*-------------------- Barre animation --------------------*/
    nav .nav-indicator{
        display: none;
    }
}
/*#endregion*/