/*#region -------------------- GENERAL -------------------*/

*{
    scrollbar-width: thin;
    scrollbar-color: var(--color2);
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* custom scroll bar */
*::-webkit-scrollbar{
    width: 21px;
}

*::-webkit-scrollbar-track{
    background: var(--color2);
    box-shadow: 10px 5px 5px var(--color4);
}

*::-webkit-scrollbar-thumb{
    /* height: 100px; */
    background-color: var(--color5);
    border-radius: 21px;
    /* border: 3px solid var(--color8); */
}

*::-webkit-scrollbar-button{
    background-color: var(--color1);
    /* border: 1px solid var(--color6);
    border-radius: 0 0 13px 13px; */
}

*::-webkit-scrollbar-corner{
    background-color: var(--color4);
}

/* HTML */
html{
    /*Couleurs*/
    --color1: #638DA6;
    --color2: #5B83A6;
    --color3: #4B95D1;
    --color4: #021010;
    --color5: #D9DBDB;
    --color6: #D19D4A;
    --color7: #D5BF9C;
    --color8: #e3e6e9;

    /*fonts*/
    --font1:'Ubuntu', sans-serif;
    --font2:'Oswald', Arial, sans-serif;

    /* ne fonctionne pas sur Safari */
    scroll-behavior: smooth;
    /* transition: scroll-behavior 1s ease-out .4s; */
}

body{
    font-family: var(--font2);
    font-size: 15px;
}

/*#region balise titre*/
h1{
    font-family: var(--font1);
    color: var(--color1);
}

h2 {
    color: var(--color2);
    font-size: 36px;
}

h3 {
    font-size: 30px;
    color: var(--color2);
}
/*#endregion*/

/*#region balise*/
p {
    font-size: 18px;
    line-height: 20px;
    color: var(--color4);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: var(--color3);
    text-transform: uppercase;
}
/*#endregion*/

.container-grid {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-auto-rows: auto 1fr auto;
}

.wrapper {
    display: block;
    height: 700px;
    margin: 0 auto;
}

.orange {
    color: var(--color6);
}

.clear{
    clear: both;
}

small{
    font-size: 13px;
    font-style: italic;
}

/*#region--------------------Button--------------------*/
/* btn contactez-moi */
.button-1 {
    display: block;
    height: fit-content;
    width: fit-content;
    color: var(--color4);
    font-size: 1.1rem;
    font-weight: 300;
    margin: auto auto;
    padding-top: 2px;
    line-height: initial;
    text-overflow: clip;
    text-align: center;
    white-space: nowrap;
    transform-origin: center;
}
.button-1::after{
    content: "";
    display: block;
    width: 100px;
    height: 30px;
    background-color: var(--color6);
    margin: -29px auto;
    border-radius: 0 0 72px 0;
    transition: .4s;
    z-index: -1;
}
.button-1:hover {
    /* display: block; */
    animation-name: bounce ;
    animation-duration: .5s;
    cursor: pointer;
    z-index: 10;
}
.button-1:hover::after {
    background-color: var(--color7);
    z-index: 9;
}

@keyframes bounce {
    0%{transform: scaleX(1) scaleY(1)}
    20%{transform: scaleX(1.15) scaleY(.5)}
    30%{transform: scaleX(1.15) scaleY(.5)}
    50%{transform: scaleX(.5) scaleY(1.2)}
    70%{transform: scaleX(1.1) scaleY(.8)}
    85%{transform: scaleX(1) scaleY(1)}
    100%{transform: scaleX(1) scaleY(1)}
}

/* btn envoye */
.btn{
    border: 0;
    background: var(--color6);
    font-family: var(--font2);
    font-size: 1rem;
    padding: 0.1rem 1rem;
    border-radius: 0px 0px 20px 0px;
    float: right;
    cursor: pointer;
    transition: all .3s ease-out;
}
.btn:hover{
    background-color: var(--color7);
}

.btn.btn-secondary{
    background: transparent;
    border: 2px solid var(--color6);
    color: var(--color4);
}
/*#endregion*/

/*#endregion*/

/*#region -------------------- HEADER --------------------*/

header{
    display: flex;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    left: 0;
    color: var(--color3);
    padding: 1rem 2rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

#bg-header{
    position: absolute;
    width: 100%;
    height: 100%;
    top: -120px;
    left: 0;
    background: var(--color4);
    z-index: -10;
    transition: all 0.5s ease-in-out;
}

/*-------------------- NAV --------------------*/

nav{
    position: relative;
    width: 40%;
    height:100%;
    display: flex;
    align-items: center;
    margin: 16px 0 0 0;
    text-align: center;
    transition: all 1s ease-out;
    background-color: rgba(255, 255, 255, 0);
}
.navbar{
    white-space: nowrap;
    overflow: hidden;
}

/*#region nouveau menu*/
.nav-item{
    color: var(--color3);
    font-family: var(--font2);
    padding: 20px auto;
    margin: 0 6px;
    position: relative;
    flex: 1;
}
.nav-item::before{
    content: "";
    position: absolute;
    bottom: -12px;
    background-color: var(--color7);
    height: 5px;
    width: 100%;
    border-radius: 8px 8px 0 0;
    left: 0;
    transition: .3s;
}
.nav-item:not(.is-active):hover::before{
    bottom: -6px;
}
.nav-item:not(.is-active):hover{
    color: var(--color1);
}
.nav-indicator{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 5px;
    transition: .4s;
    border-radius: 8px 8px 0 0;
}

nav a:hover{
    color: var(--color3);
    font-family: var(--font2);
    font-weight: 300;
    /* text-align: center; */
}

/*#endregion*/

/*-------------------- Logo --------------------*/
.logo{
    position: relative;
    top:-8px;
    font-size: 1.5rem;
    width:100%;
    transition: all 1s ease-out;
}
/*-------------------- toggle menu burger --------------------*/
.toggle{
    display: none;
    color: var(--color6);
}
/*#endregion */

/*#region -------------------- MAIN ----------------------*/

/*#region section acceuil*/
#home{
    position: relative;
    top: 0;
    left: 0;
    height: max-content;
    background: url('img/BackgroundAccueil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    z-index: 0;
}
#home h2{
    position: relative;
    top: 48px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;
    /* color: var(--color4); */
    padding: 11px 0 0 0;
    margin: 0px;
    /* border: 1px red solid; */
}

#home .button-1{
    padding: 4rem;
}
#anim-logo{
    /*simulation logo*/
    position: relative;
    height: 462px;
    width: 462px;
    display: flex;
    top:100px;
    margin: 0px auto;
    background: url('img/Logo.png') no-repeat;
    transform: scale(80%);
    z-index:1;
}

/*#endregion*/

/*#region section à propos */
#about{
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 100vh;
    float: left;
    justify-items: center;
    margin: auto auto;
    padding: 200px 140px;
    background: linear-gradient( 70deg, var(--color5), var(--color8) 60%, var(--color5));
}

/* #presentation .button-1{
    margin: 51px;
} */

h4{
    color: var(--color2);
    font-size: clamp(34px, 8vw, 18px);
    text-transform: uppercase;
    float: right;
    /* display: inline-block; */
    position: relative;
}

/* backgrounds */
#bg-title {
    width: 410px;
    height: 45px;
    position: relative;
    top: -50px;
    left: -283px;
    background-color: var(--color4);
    border-radius: 0 0 122px 0;
    z-index: 0;
}
.background-mokup {
    object-fit: contain;
    width:50%;
    height: 100vh;
    /*transform:translateX(0px);*/
    position: relative;
    /* top:-46px; */
    background: url('img/BackgroundAproposPanno.jpg') no-repeat top center;
    background-color: var(--color8);
    background-size: 400%;
    background-position-x: -920px;
    display: flex;
    transform-origin: center;
    z-index: -100;
    transition-delay: 1s;
    transition: all 2s ease-in-out;
}
/*#endregion*/

/*#region section portfolio */
#portfolio{
    position: relative;
    top: 0;
    left: 0;
    height: 110vh;
    background: url('img/BgPortfolio-13.png') no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
}
/*#endregion*/

/*#endregion*/

/*#region ------------------- FOOTER -------------------- */

footer {
    display: flex;
    position: relative;
    height: 70px;
    background: linear-gradient(var(--color6), 75%, var(--color7));
}

footer a {
    margin: auto auto;
}

footer a:hover{
    color: var(--color2);
    animation-name: animLiens;
    animation-duration: .8s;
    transition: all 3s ease-out;
}

@keyframes animLiens{
    0% {transform: scale3d(1, 1, 1); color: var(--color3)}
    10% {transform: scale3d(1, 1, 1)}
    40% {transform: scale3d(1.3, .7, 1); color: var(--color2)}
    60% {transform: scale3d(.5, 1.3, 1)}
    65% {transform: scale3d(1.2, .5, 1)}
    75% {transform: scale3d(.9, 1.2, 1)}
    90% {transform: scale3d(1.1, .9, 1)}
    100% {transform: scale3d(1, 1, 1)}
}

footer a::before{
    position: relative;
    width:1.5em;
    height:1.5em;
    margin: 4px 4px 0 0;
    vertical-align: bottom;
}

#linkedin::before {
    content: "";
    display: inline-block;
   
    background: url(img/picto/__linkedin.png) center center no-repeat;
    background-size:100%;
}
#instagram::before {
    content: "";
    display: inline-block;
    
    background: url(img/picto/__instagram.png) center center no-repeat;
    background-size:100%;
}
#behance::before {
    content: "";
    display: inline-block;
    
    background: url(img/picto/__behance.png) center center no-repeat;
    background-size:100%;
}

/*#endregion*/

/*#region -------------------- FORMULAIRE ----------------*/

.close-form{
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--color4);
    background-color: var(--color6);
    padding: 2px 5px;
    border-radius: 18px;
    transition: all .4s ease-out;
}
.close-form:hover{
    /* color:var(--color2); */
    background-color: var(--color7);
}

.contact{
    /* position: fixed; */
    top: 50%;
    width: max-content;
    height: max-content;
    visibility: hidden;
    opacity: 0;
    transition: all 3s ease-out;
}
.contact:target{
    /* left: 0%; */
    visibility: visible;
    opacity: 1;
}

.formulaire{
    position: fixed;    
    top: 50%;
    left: 50%;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
    margin: auto auto;
    padding: 21px;
    display: flex;
    align-content: center;
    background-color: var(--color5);
    border-radius: 3px;
    box-shadow: 0px 10px 40px var(--color4);
    z-index: 100;
}
form p{
    color: var(--color1);
    /* flex-direction: row; */
}

#information{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#information p{
    white-space: pre;
}
.block{
    display: inline-flex;
    margin: 5px 0;
}
.champ-nom, .champ-mail, #champ-tel{
    border-radius: 3px;
    border: none;
    margin: 3px;
    display: block;
    height: 21px;
}
.obligatoire{
    width: 0;
}
.obligatoire::after{
    content: "Champ obligatoire";
    position:relative;
    top: -18px;
    right: 60px;
    width: 0;
    white-space: nowrap;
    font-size: 8px;
    color: var(--color4);
    /* display: block; */
}
#text-client{
    border-radius: 3px;
    border: none;
    margin: 9px;
    display: block;
    height: 76px;
}

#demande{
    display: flex;
    flex-direction: column;
}

/*#region checkbox*/
#check-list{
    display: flex;
    justify-content: center;
}

input[type=text], input[type=mail],input[type=tel], input::placeholder, textarea::placeholder{
    font-family: var(--font2);
    font-size: 11px;
    color: var(--color7);
    padding-left: 8px;
}
input[type=checkbox]{
    display: none;
}

.checkbox{
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    height: 100%;
    margin: 9px;
    padding: 3px 18px;
    border-radius: 18px;

    text-align: center;
    white-space: nowrap;

    overflow: hidden;
    transition: all 1s ease;
}
.checkbox label::before{
    background-color: var(--color6);
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border-radius: 18px;
    z-index: -1;
    /* overflow: hidden; */

}
.checkbox label::after{
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    /* top: 50%;
    left: 50%; */
    border-radius: 18px;
    background-color: var(--color2);
    z-index: -1;
    transform: translateX(-6rem);
    transition: all .4s ease-out;
}

.check-list input:checked + label::after{
    content: "";
    position: absolute;
    display: block;
    width: 6rem;
    height: 1.5rem;
    border-radius: 18px;
    background-color: var(--color2);

    transform: translateX(0rem);
}
.checkbox:checked::before{
    content: "&";
    background-color: var(--color6);
    display: block;
    width: max-content;
    height: 50px;
}

/* .checkbox-input{
    opacity: 0;
    width: 0;
    height: 0;
} */

/*#endregion*/

/*#endregion*/

/*#region ------------------- OVERLAY --------------------*/
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--color4);
    opacity: 0.7;
    z-index: 90;

    transition: opacity .4s ease-out;
}

/*#endregion*/

/*#region ------------------- RESPONSIVE TABLETTE --------*/
@media all and (max-width: 991px) {
/*#region header*/
header{
    background: transparent;
}

.toggle{
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    /* margin: auto; */
    z-index: 20;
}

.logo{
    font-size: 1rem;
    position: relative;
        margin: auto;
        z-index: 20;
    }
    
    .ouvrir{
        display: block;
    }
    
    .fermer{
        display: none;
    }
    
    .open .ouvrir{
        display: none;
    }
    
    .open .fermer{
        display: block;
    }
    
    nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 30%;
        height: 100vh;
        background: var(--color4);
        flex-direction: column;
        margin: 0;
        padding: 2rem;
        justify-content: space-around;
        transform: translateX(160%);
        transition: transform 1s ease-in-out;
    }
    nav ul{
        flex-direction: column;
        align-items: center;
    }
    nav li a{
        font-size: 2rem;
    }
    
    .btn{
        font-size: 2rem;
    }
    
    .open nav{
        transform: translateX(0);
    }
    .nav-item{
        display: flex;
        align-items: center;
    }
    .nav-item::before{
        display: none;
    }
    /*-------------------- Barre animation --------------------*/
    nav .nav-indicator{
        display: none;
    }
    
    .nav-indicator{
        display: none;
    }
    /*#endregion*/

    /*#region main*/
    /*#region home*/

    /*#endregion*/

    /*#region about*/
    #about{
        display: flex;
        flex-direction: column-reverse;
    }
    #presentation{
        padding: 0;
        width: 100%;
    }
    #presentation p{
       padding: 0px 140px;
    }
    #bg-title{
        margin-left: 51px;
    }
    .background-mokup{
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 45%;
        background-size: 150%;
        background-position-y: -16px;
        background-position-x: 0px;
    }
        /*#endregion*/
    /*#region portfolio*/
    #portfolio{
    margin-top: -3px;

    }
    /*#endregion*/
    /*#endregion*/

}
/*#endregion*/